@import https://github.com/kevquirk/simple.css
/* modification of https://github.com/kevquirk/simple.css for catppuccin
/* Global variables. */
:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;

  /* Default (light) theme */
  --bg: #dce0e8;
  --accent-bg: #e6e9ef;
  --text: #4c4f69;
  --text-light: #6c6f85;
  --border: #7c7f93;
  --accent: #1e66f5;
  --accent-hover: #7287fd;
  --accent-text: var(--bg);
  --code: #e64553;
  --preformatted: #5c5f77;
  --marked: #df8e1d;
  --disabled: #efefef;
  --correct: #40a02b;
}


/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    color-scheme: dark;
    --bg: #24273a;
    --accent-bg: #363a4f;
    --text: #cad3f5;
    --text-light: #a5adcb;
    --accent: #b4befe;
    --accent-hover: #eed49f;
    --accent-text: var(--bg);
    --code: #ed8796;
    --preformatted: #b8c0e0;
    --disabled: #181926;
    --correct: #a6e3a1;
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}
