<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CTF: BankShot - Bill</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <main>
                <p>
                  Oops!! Looks like you haven't logged in yet. Please contact a manager if you believe this to be a mistake
                </p>
    </main>
  </body>
</html>
